@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;

    padding: 0;
  }

  body {
    font-family: "Raleway", sans-serif;
    background: #333;
    color: white;
    line-height: 1.6;
    overflow: hidden;

    height: 100vh;
  }
  #root {
    overflow: hidden;
  }

  .app {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: 1000ms;

    scroll-snap-type: y mandatory;
  }

  @media screen and (max-width: 1290px) {
    .app {
      font-family: "Raleway", sans-serif;
      scroll-snap-type: none;
    }
  }
}

@layer utilities {
  /* ROUND SCROLLBAR HERE (USEFUL SMALLER ELEMENTS IN WHICH U STILL NEED TO SCROLL) */

  .light-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;

    height: 10px;
    background-image: linear-gradient(to bottom, #e4e7ec, white, white);
  }

  .light-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(203, 198, 213);

    border-radius: 100vh;
    height: 20px;
  }

  .light-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #c7cacf;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
    overscroll-behavior-y: none;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;

    height: 10px;
    background-image: linear-gradient(to bottom, #1f2937, #101925, #08101b);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: black;

    border-radius: 100vh;
    height: 20px;
  }

  /* AWESOME DARK MODE SCROLLBAR SAUCE HERE */

  .dark-scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(61, 68, 78);
  }

  .dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #525a64;
  }

  /* Buttons */
  .dark-scrollbar::-webkit-scrollbar-button:single-button {
    background-color: rgb(64, 64, 64);

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
  }

  /* Up */
  .dark-scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  /* Down */
  .dark-scrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

  /* Left */
  .dark-scrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
  }

  /* Right */
  .dark-scrollbar::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
  }

  .dark-scrollbar::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
  }

  .mukafatlar-button {
    margin-left: 1rem /* 16px */;
    margin-top: 1.25rem /* 20px */;

    font-size: 1.125rem /* 18px */;
    padding-top: 1.25rem /* 20px */;
    padding-bottom: 1.25rem /* 20px */;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    border-radius: 0.375rem /* 6px */;

    justify-content: center;
    align-items: center;

    line-height: 1.75rem /* 28px */;
    cursor: pointer;
  }

  .back-to-home-button {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
    background-color: rgb(10, 14, 26);
    color: #9ca3af;
    justify-content: center;
    align-items: center;
    width: 12rem;
    border-radius: 0.375rem;
  }

  .to-route-button {
    display: flex;
    margin-right: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: auto;
    background-color: rgb(10, 14, 26);
    margin-top: 3.5rem;
    color: #9ca3af;
    justify-content: center;
    align-items: center;
    width: 12rem;
    border-radius: 0.5rem;
  }

  .parentHover:hover .parentHover--child {
    opacity: 100;
  }
}
